/* online fonts */

@font-face { /* custom downloaded font */
    font-family: 'AssassinNinja';
    src: url('../fonts/AssassinNinja-7BYyR.ttf');
}

* { /* so the whole page does not have padding and margin */
    margin: 0;
    padding: 0;
    background-color: #252523;

}
/* whole page */

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* height of the whole device */
    background-color: #181717;
}
a {
    text-decoration: none;
    color: inherit;
}

/* header section */
header{
    background-color: #252523;
    flex: 2;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    margin: 10px 10px 0 10px;
}

header .shuriken{ /* for left and right shuriken container of the header */
    flex: 1;
    text-align: center;
}

header .shuriken img{ /* shuriken container img */
    width: 10vh;
    height: 10vh;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

header .header-inner-bg{ /* center container that will display ninjaLogo and text */
    background-color: #252523;
    width: 60%;
    height: 90%;
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .header-inner-bg .header-img{ /* ninja logo container */
    flex: 2;
    order: 1;
    height: 90%;
    display: flex;
    justify-content: center;
}

header .header-inner-bg .header-img img{ /* ninja logo container img */
    display: block;
    height: 90%;
    width: 25%;
}


header .header-inner-bg .header-text{ /* title of the header */
    height: 180px;
    flex: 2;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px black;
    color: #f50b0e;
}

header .header-inner-bg .header-text h1{
    font-size: 6vh;
}

header .header-inner-bg .header-text h2{
    font-size: 4vh;
}

/* main section */

main{
    background-color: #181717;
    flex: 9;
    order: 2;
    display: flex;
}

main section{ /* applies to all sections in main */
    flex: 1;
    background-color: #343131;
}

/* individual sections by class */
main .m-section-1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

main .m-section-1 .phone-wrapper{ /* made to manipulate design when at phone devices */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main .m-section-1 .memberDescriptionPhone{ /* made to manipulate design when at phone devices */
    display: none;
}

main .m-section-1 .memberCard{ /* 1 and 3 card */
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main .m-section-1 .memberCardRight{ /* middle card with right shifted design */
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
}

main .m-section-1 img{ /* for all images in the section 2 */
    width: 20%;
    border-radius: 5px;
    border: 3px solid #181717;
    box-shadow: 3px 3px 10px #181717;
    margin: 0 10px;
}

/*Member section design*/
main .m-section-1 .memberSectionTitle{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 2vh;
}

main .m-section-1 .memberCard .memberCardDescription{
    font-family: sans-serif;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    line-height: 3.5vh;
    padding-right: 10px;
}

main .m-section-1 .memberCard .memberCardDescription h1{
    color: lightseagreen;
}

main .m-section-1 .memberCardRight .memberCardDescriptionRight{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2.5vh;
    line-height: 3.5vh;
    padding-left: 10px;
}

main .m-section-1 .memberCardRight .memberCardDescriptionRight h1{
    color: lightseagreen;
}

/*Section that includes the video*/
main .m-section-2{
    margin: 0 10px;
    display: flex;
    flex: 1.4;
    padding-bottom: 0.3vh;
    padding-top: 0.3vh;
    background-color: #181717;
}

main .m-section-2 iframe{
    flex: 1;
    width: 100% !important;
}

/*Social media and Testing section*/
main .m-section-3{
    display: flex;
    margin-right: 10px;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

main .m-section-3 .phone-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .m-section-3 .phone-wrapper .socialMediaTitle{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px black;
    font-size: 2vh;
}

main .m-section-3 .phone-wrapper .socialMediaDescription{
    flex: 2.5;
    text-align: center;
    font-size: 2.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 1vh;
}

main .m-section-3 .phone-wrapper .socialMediaDescription .testing-container{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2vh;
}

main .m-section-3 .phone-wrapper .socialMediaDescription .testing-container .UAT-button{
    width: 20%;
    height: 5vh;
    background-color: #343131;
    text-align: center;
    color: lightseagreen;
    font-weight: bold;
    font-size: 2vh;
    border-radius: 5vh;
    border: 2px solid lightseagreen;
}

main .m-section-3 .phone-wrapper .socialMediaDescription .testing-container img{
    display: block;
    width: 3vw;
    height: 6vh;

}
main .m-section-3 .phone-wrapper .facebook-instagram-twitter{
    /*display: flex;*/
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.6vh;
    display: none;
}

/*#twitter-widget-0 {height: 80% !important;}*/

main  .m-section-3 .phone-wrapper .facebook-instagram-twitter img{
    display: none;
}

main .m-section-3 .phone-wrapper .socialMediaDescription p {
    padding: 0 2px;
}

main .m-section-3 .phone-wrapper .twitter{
    flex: 2.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2vh 2vh 2vh;
}

main .m-section-3 .phone-wrapper .twitter .twitter-timeline .timeline-header, .timeline-footer{
    display:none ;
}

/* footer section */
footer{
    background-color: #252523;
    flex: 0.5;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    margin: 0 10px 10px 10px;
    padding-top: 30px;

}

footer .footer-inner-bg{
    background-color: #252523;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

footer .footer-inner-bg h1{
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px black;
    color: #f50b0e;
    font-size: 4vh;
}

footer .footer-inner-bg h1:hover{
    color: white;
}

footer .shuriken-f1{
    text-align: center;
    margin-right: 60px;
    width: 6vh;
    height: 6vh;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*Spin shuriken*/
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

footer .shuriken-f2{
    text-align: center;
    margin-left: 60px;
    width: 6vh;
    height: 6vh;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* big screens */
@media only screen and (max-width: 3000px){
    main{
        flex: 4;
    }
    footer{
        flex: 1;
    }
}

/* phones */
@media only screen and (max-width: 600px) and (orientation: portrait) {

    /* header section */
    header{
        flex: 3;
    }

    header .header-inner-bg{
        flex-direction: column;
        flex: 7;
    }

    header .header-inner-bg .header-img{
        height: 60%;
        width: 70%;
        padding-top: 10px;
        padding-right: 10px;
    }

    header .shuriken img{
        display: none;
    }

    header .header-inner-bg .header-text{
        align-items: center;
        padding-bottom: 10px;
    }

    header .header-inner-bg .header-text h1{
        font-size: 4vh;
    }

    header .header-inner-bg .header-text h2{
        font-size: 3vh;
    }

    /* main section */
    main{
        flex-direction: column;
        flex: 9;
        margin: 0 10px 0 10px;
    }

    main section{
        margin: 10px 0;
    }

    main .m-section-1{
        flex: 3;
        margin: 0;
        padding-top: 2px;
    }

    main .m-section-1{
        flex: 4;
        flex-direction: column;
        display: flex;
    }

    main .m-section-1 .phone-wrapper{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1.5;
    }

    main .m-section-1 .memberDescriptionPhone{
        flex: 2;
        text-align: center;
        justify-content: space-evenly;
        padding: 5px;
        font-size: 2.1vh;
        height: 180px;
        display: flex;
        flex-direction: column;
    }

    main .m-section-1 .memberDescriptionPhone h1{
        color: white;
    }

    main .m-section-1 .memberDescriptionPhone p{
        color: white;
        text-shadow: none;
    }

    main .m-section-1 img{
        width: 50%;
        border-radius: 5px;
        border: 3px solid #181717;
        box-shadow: 3px 3px 10px #181717;
    }

    main .m-section-1 .memberCard{
        display: flex;
        align-items: start;
        justify-content: center;
    }
    main .m-section-1 .memberCardRight{
        display: flex;
        align-items: start;
        justify-content: center;
    }

    main .m-section-1 .memberSectionTitle{
        display: none;
    }

    main .m-section-1 .memberCard .memberCardDescription{
        display: none;
    }
    main .m-section-1 .memberCardRight .memberCardDescriptionRight{
        display: none;
    }

    main .m-section-2{
        margin: 0;
        display: flex;
        flex: 3;
        padding: 11px;
        border: 2px solid red;
        background-color: #252523;
    }

    main .m-section-3{
        flex: 1.1;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #252523;
    }

    main .m-section-3 .phone-wrapper .socialMediaDescription{
        display: none;
    }

    main .m-section-3 .phone-wrapper .twitter{
        display: none;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter .UAT-button{
        width: 20%;
        height: 5vh;
        background-color: #343131;
        text-align: center;
        color: lightseagreen;
        font-weight: bold;
        font-size: 2vh;
        border-radius: 5vh;
        border: 2px solid lightseagreen;

    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter .testing{
        font-family: sans-serif;
        text-shadow: 3px 2px 3px black;
        color: white;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter img{
        display: block;
        width: 11%;
        height: 60%;
    }

    /* footer section */
    footer{
        flex: 1;
    }

    footer .footer-inner-bg{

        text-align: center;
    }
    footer .footer-inner-bg h1{
        font-size: 2.5vh;
    }

    footer .shuriken-f1{
        display: none;
    }

    footer .shuriken-f2{
        display: none;
    }
}

/* tablets */
@media only screen and (max-width: 1300px) and (min-width: 600px){

    /* header section */
    header{
        flex: 3;
        margin: 10px 10px -10px 10px;
    }

    header .header-inner-bg{
        flex: 7;
    }

    header .shuriken img{
        display: none;
    }

    header .header-inner-bg .header-img img{
        width: 50%;
    }

    header .header-inner-bg .header-text h1{
        font-size: 5vh;
    }

    header .header-inner-bg .header-text h2{
        font-size: 4vh;
    }

    /* main section */
    main{
        flex-direction: column;
        flex: 9;
        margin: -1px 10px -10px 10px;
    }

    main section{
        margin: 10px 0;
    }

    /* main inner container manipulation */

    main .m-section-1{
        flex: 3;
        margin: 0;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
    }

    main .m-section-1{
        flex: 4;
        flex-direction: column;
        margin: 0 0 -10px 0;
        display: flex;
    }

    main .m-section-1 .phone-wrapper{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 2;
    }

    main .m-section-1 .memberDescriptionPhone{
        flex: 2;
        text-align: center;
        justify-content: space-evenly;
        padding: 5px;
        font-size: 2.5vh;
        height: 180px;
        display: flex;
        flex-direction: column;
    }

    main .m-section-1 .memberDescriptionPhone h1{
        color: white;
    }

    main .m-section-1 .memberDescriptionPhone p{
        color: white;
        text-shadow: none;
        padding: 20px 40px;
    }

    main .m-section-1 img{
        width: 40%;
        border-radius: 5px;
        border: 3px solid #181717;
        box-shadow: 3px 3px 10px #181717;
    }

    main .m-section-1 .memberCard{
        display: flex;
        align-items: start;
        justify-content: center;
    }
    main .m-section-1 .memberCardRight{
        display: flex;
        align-items: start;
        justify-content: center;
    }

    main .m-section-1 .memberSectionTitle{
        display: none;
    }

    .memberCardDescription{
        display: none;
    }
    .memberCardDescriptionRight{
        display: none;
    }

    main .m-section-2{
        margin: 0;
        display: flex;
        flex: 3.5;
        padding: 11px;
        border: 2px solid red;
        background-color: #252523;
    }

    main .m-section-3{
        margin: 0;
        border-bottom: 2px solid red;
    }
    main .m-section-3 .phone-wrapper .socialMediaDescription{
        padding: 20px;
        display: none;
    }

    main .m-section-3 .phone-wrapper .socialMediaDescription p{
        display: none;
    }

    main .m-section-3 .phone-wrapper .socialMediaDescription img{
        width: 5vh;
        height: 7vw;
    }

    main .m-section-3 .phone-wrapper .twitter{
        display: none;
    }

    main .m-section-3 .phone-wrapper .twitter .twitter-timeline{
        display: none;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter{
        display: flex;
        padding: 20px;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter img{
        display: block;
        width: 6vh;
        height: 6vh;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter h1,a{
        display: none;
    }

    /* footer section */
    footer{
        flex: 1;
    }

    footer .footer-inner-bg{
        font-size: 2vh;
    }

    footer .shuriken-f1{
        display: none;
    }

    footer .shuriken-f2{
        display: none;
    }
    /* main inner content container manipulation */
}






