@font-face { /* custom downloaded font */
    font-family: 'AssassinNinja';
    src: url('../fonts/AssassinNinja-7BYyR.ttf');
}

* { /* so the whole page does not have padding and margin */
    margin: 0;
    padding: 0;
    background-color: #252523;
}
/* whole page */

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* height of the whole device */
    width: 100vw;
    background-color: #181717;
    /*border: 2px solid red;*/
}

body .leaderboardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

body .leaderboardContainer .leaderboardHeader{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #f50b0e;
    font-family: "AssassinNinja", sans-seri, serif;
    font-size: 2.5vh;
}


body .leaderboardContainer .scoresContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
}

body .leaderboardContainer .scoresContainer .playerRow{
    width: 30%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border: 2px solid red;
}

body .leaderboardContainer .scoresContainer .playerRow .playerRowTitle{
    text-align: center;
    font-size: 2.5em;
}

body .leaderboardContainer .scoresContainer .playerRow .playerRowScore{
    text-align: center;
    font-size: 2.5em;
}


body .leaderboardContainer .scoresContainer .playerRow p{
    /*text-shadow: 3px 2px 3px black;*/
    color: #f50b0e;
    font-size: 1.5em;

}


body .leaderboardContainer .footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px black;
    font-size: 4vh;

}

body .leaderboardContainer .footer a{
    text-decoration: none;
    color: #f50b0e;
}

body .leaderboardContainer .footer a:hover{
    color: white;
}

@media only screen and (max-width: 1024px) {
    body .leaderboardContainer .scoresContainer .playerRow{
        width: 90%;
        font-size: 1.7vh;
    }
}





