
@font-face { /* custom downloaded font */
    font-family: 'AssassinNinja';
    src: url('../fonts/AssassinNinja-7BYyR.ttf');
}

* { /* so the whole page does not have padding and margin */
    margin: 0;
    padding: 0;
    background-color: #252523;
}
/* whole page */

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* height of the whole device */
    width: 100vw;
    background-color: #181717;
    align-items: center;
    justify-content: center;
}

.questionContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* HEADER */

.questionContent .header{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header .shuriken{ /* for left and right shuriken container of the header */
    flex: 1;
    text-align: center;
}

.header .shuriken img{ /* shuriken container img */
    width: 10vh;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.header .header-inner-bg .header-img{ /* ninja logo container */
    flex: 2;
    order: 1;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
}

.header .header-inner-bg .header-img img{ /* ninja logo container img */
    width: 15vh;
    padding-top: 3vh;
    display: block;
}

.questionContent .answerFeedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
}

.questionContent .answerFeedback #answerFeedbackP{
    color: lightseagreen;
    font-size: 5vh;
}

.questionContent #questionContainer{
    flex: 4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionContent #questionContainer .questionContainerContent{
    width: 85%;
    height: 90%;
    border: 2px dotted #f50b0e;
    display: flex;
    flex-direction: column;
}

.questionContent #questionContainer .questionContainerContent .upperRow{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.questionContent #questionContainer .questionContainerContent .upperRow h1{
    text-shadow: 3px 2px 3px black;
    color: #f50b0e;
    font-size: 5vh;
}

.questionContent #questionContainer .questionContainerContent .middleRow{
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.questionContent #questionContainer .questionContainerContent .middleRow p{
    text-align: center;
    color: white;
    font-size: 4vh;
    padding: 1vh;
}

.questionContent #questionContainer .questionContainerContent .middleRow p a{
    color: lightseagreen;
    text-decoration: none;
}

.questionContent #questionContainer .questionContainerContent .bottomRow{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ACTS FOR ALL TYPES OF QUESTIONS */

.questionContent #questionContainer .questionContainerContent .upperRow #openCamera{
    /*border: 2px solid lightseagreen;*/
    color: lightseagreen;
    font-weight: bold;
    font-size: 4vh;
    text-shadow: 3px 2px 3px black;
}

.questionContent #questionContainer .questionContainerContent .bottomRow .submit{
    border: 2px solid #f50b0e;
    color: white;
    padding: 2vh;
    font-size: 3vh;
    width: 20%;
}

.questionContent #questionContainer .questionContainerContent .bottomRow .skip{
    border: 2px solid lightseagreen;
    color: white;
    padding: 2vh;
    font-size: 3vh;
    width: 20%;
}
/* ACTS FOR ALL TYPES OF QUESTIONS */

/* INTEGER */
.questionContent #questionContainer .questionContainerContent .bottomRow .intAndText{
    border: 2px solid #f50b0e;
    color: white;
    padding: 2vh;
    font-size: 3vh;
    text-align: center;
    width: 20%;
}
/* INTEGER */

/* BOOLEAN */
.questionContent #questionContainer .questionContainerContent .bottomRow .radioContainer{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.questionContent #questionContainer .questionContainerContent .bottomRow .radioContainer .radioStyle{
    height: 5vh;
    width: 5vh;
}

.questionContent #questionContainer .questionContainerContent .bottomRow .radioContainer .labelStyle{
    color: white;
    font-size: 4vh;
}
/* BOOLEAN */

/* MCQ */
.questionContent #questionContainer .questionContainerContent .middleRow .multiQuestionSelectionContainer{
    width: 85%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.questionContent #questionContainer .questionContainerContent .bottomRow .multiContainer{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.questionContent #questionContainer .questionContainerContent .bottomRow .multiContainer .multi{
    height: 3vh;
    width: 3vh;
}
.questionContent #questionContainer .questionContainerContent .bottomRow .multiContainer .labelStyle{
    color: white;
    font-size: 4vh;
}

/* The Modal (background) */
.questionContent #questionContainer .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.questionContent #questionContainer .modal .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%; /* Could be more or less, depending on screen size */
    height: 30%;
}

.questionContent #questionContainer .modal .modal-content .modal-wrapper{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionContent #questionContainer .modal .modal-content .modal-wrapper .confirmQuestion{
    flex: 1;
}

.questionContent #questionContainer .modal .modal-content .modal-wrapper .confirmButtons{
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.questionContent #questionContainer .modal .modal-content button{
    height: 80%;
    width: 10%;
    border: 2px solid lightseagreen;
    color: white;
    font-size: 4vh;
}

.questionContent #questionContainer .modal .modal-content h1{
    text-align: center;
    color: #f50b0e;
    font-size: 7vh;
}


/* The Close Button */

.questionContent #questionContainer .modal .modal-content .close {
    color: #aaa;
    margin-left: 80%;
    font-size: 8vh;
    font-weight: bold;
}

.questionContent #questionContainer .modal .modal-content .close:hover,
.questionContent #questionContainer .modal .modal-content .close:focus {
    color: rgba(0,0,0,0.4);;
    text-decoration: none;
    cursor: pointer;
}

/*MODAL CAMERA*/

.questionContent #questionContainer .modalCamera {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questionContent #questionContainer .modalCamera .modal-content-camera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);;
    /*margin: 50% auto; !* 15% from the top and centered *!*/
    width: 80%; /* Could be more or less, depending on screen size */
    height: 15%;
}

.questionContent #questionContainer .modalCamera .modal-content-camera .modal-wrapper-camera{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.questionContent #questionContainer .modalCamera .modal-content-camera h1{
    text-align: center;
    color: #f50b0e;
    font-size: 7vh;
}


/* The Close Button */

.questionContent #questionContainer .modalCamera .modal-content-camera .modal-wrapper-camera .exitCamera{
    width: 100%;
    display: flex;
    justify-content: center;
}

.questionContent #questionContainer .modalCamera .modal-content-camera .modal-wrapper-camera .exitCamera .close-camera {
    font-size: 5vh;
    color: #f50b0e;
    font-weight: bold;
    text-align: center;
}
.questionContent #questionContainer .modalCamera .modal-content-camera .modal-wrapper-camera .switchCameraContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.questionContent #questionContainer .modalCamera .modal-content-camera .modal-wrapper-camera .switchCameraContainer .switch-camera {
    font-size: 5vh;
    color: #f50b0e;
    font-weight: bold;
    text-align: center;
}
.questionContent #questionContainer .modalCamera .modal-content-camera #preview{
    flex: 1;
    width: 100%;
    height: 50vh;
}

.questionContent #questionContainer .modalCamera .modal-content-camera .exitCamera .close-camera:hover,
.questionContent #questionContainer .modalCamera .modal-content-camera .exitCamera .close-camera:focus {
    color: rgba(0,0,0,0.4);;
    text-decoration: none;
    cursor: pointer;
}



/* phones - tables */
@media only screen and (max-width: 1024px) {

    .questionContent #questionContainer .questionContainerContent{
        width: 100%;
    }

    .header .shuriken img{
        width: 7em;
    }

    .header .header-inner-bg{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header .header-inner-bg .header-img img{
        width: 13em;
    }

    .questionContent #questionContainer .questionContainerContent .middleRow{
        flex: 3;
    }

    .questionContent #questionContainer .questionContainerContent .upperRow h1{
        font-size: 3vh;
    }

    .questionContent #questionContainer .questionContainerContent .middleRow p{
        font-size: 3vh;
    }

    .questionContent #questionContainer .questionContainerContent .bottomRow{
        flex: 4;
        flex-direction: column;
    }

    /* INTEGER */
    .questionContent #questionContainer .questionContainerContent .bottomRow .intAndText{
        width: 40%;
        height: 10%;
        font-size: 3vh;
    }

    /* BOOLEAN */
    .questionContent #questionContainer .questionContainerContent .bottomRow .radioContainer{
        width: 100%;
    }

    .questionContent #questionContainer .questionContainerContent .bottomRow .radioContainer .radioStyle{
        height: 4vh;
        width: 4vh;
    }

    .questionContent #questionContainer .questionContainerContent .bottomRow .radioContainer .labelStyle{
        font-size: 4.5em;
    }

    /* MCQ */
    .questionContent #questionContainer .questionContainerContent .middleRow .multiQuestionSelectionContainer{
        padding-top: 3em;
    }

    .questionContent #questionContainer .questionContainerContent .bottomRow .multiContainer{
        width: 100%;
    }
    .questionContent #questionContainer .questionContainerContent .bottomRow .multiContainer .multi{
        height: 4vh;
        width: 4vh;
    }
    .questionContent #questionContainer .questionContainerContent .bottomRow .multiContainer .labelStyle{
        font-size: 4vh;
    }

    .questionContent #questionContainer .questionContainerContent .bottomRow .submit{
        width: 40%;
        height: 15%;
        padding: 0;
        font-size: 2vh;
        font-weight: bold;
    }

    .questionContent #questionContainer .questionContainerContent .bottomRow .skip{
        width: 40%;
        height: 15%;
        padding: 0;
        font-size: 2vh;
        font-weight: bold;
    }


    /*MODAL*/

    .questionContent #questionContainer .modal .modal-content h1 {
        font-size: 4vh;
    }

    .questionContent #questionContainer .modal .modal-content button{
        height: 80%;
        width: 50%;
        border: 2px solid lightseagreen;
        color: white;
        font-size: 3vh;
    }

}












