
@font-face { /* custom downloaded font */
    font-family: 'AssassinNinja';
    src: url('../fonts/AssassinNinja-7BYyR.ttf');
}

* { /* so the whole page does not have padding and margin */
    margin: 0;
    padding: 0;
    background-color: #252523;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}



 main{
    flex: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
}

 main .display{
     /*for display the buttons*/
     flex: 1.5;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
 }

main .display .elements{
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 main .display .elements .buttons-heuristics-testing{
     height: 9vh;
     width: 15%;
     background-color: #343131;
     text-align: center;
     color: #f50b0e;
     font-weight: bold;
     font-size: 3vh;
     padding: 1vh;
     border: 2px solid red;
 }

main .display .unitTestContainer{
    width: 100%;
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .display .unitTestContainer .buttons-unit-testing{
    height: 9vh;
    width: 15%;
    background-color: #343131;
    text-align: center;
    color: lightseagreen;
    padding: 1vh;
    font-weight: bold;
    font-size: 3vh;
    border: 2px solid lightseagreen;
}

 main .heuristics{
     flex: 2;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }

main .heuristics .unitTest{
    display: flex;
    flex: 1;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main .heuristics #unitTestLeader .testRow{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}

main .heuristics #unitTestLeader .testRow p{
    flex: 1;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    color: #f50b0e;
}

 main .testContainerInitial{
     flex: 1;
     font-size: 3.5vh;
     color: #AD090D;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 100%;
 }

main .testContainerFeedback{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
main .testContainerFeedback p{
    font-size: 3.0vh;
    color: #f50b0e;
}

main .testContainerFeedback #readMore{
    color: lightseagreen;
}

main .testContainerChanges{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitButtons{
    display: block;
    border: 2px solid red;
    color: #AD090D;
}
 .int{
     background-color: white;
     border: 2px solid red;
 }

 .bool1{
     background-color: #343131;
     text-align: center;
 }

.bool2{
    background-color: #343131;
    text-align: center;
}
.txt{
    background-color: white;
    border: 2px solid red;
}
 .multi{
     display: block;
 }
 .numeric{
     background-color: white;
     border: 2px solid red;
 }
footer{
    background-color: #252523;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


footer .footer-inner-bg{
    background-color: #252523;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .home{
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px black;
    color: #AD090D;
    font-size: 4vh;
}
footer .home a{
    text-decoration: none;
    color: #f50b0e;
}

footer .home a:hover{
    color: white;
}

footer .shuriken-f1{
    text-align: center;
    width: 6vh;
    height: 6vh;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


footer .shuriken-f2{
    text-align: center;
    width: 6vh;
    height: 6vh;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media only screen and (max-width: 1024px) {

    main .heuristics {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    main .display .elements .buttons-heuristics-testing{
        width: 18%;
        font-size: 2vh;
    }

    main .display .unitTestContainer .buttons-unit-testing {
        width: 25%;
        font-size: 2vh;
    }

    main .testContainerInitial{
        font-size: 2.5vh;
        padding-left: 1vh;
        padding-right: 1vh;
    }

    main .heuristics #heuristics1{
        display: none;
    }

    main .testContainerFeedback{
        justify-content: space-between;
    }

    main .heuristics .testContainerChanges{
        display: none;
    }

}


