
@font-face { /* custom downloaded font */
    font-family: 'AssassinNinja';
    src: url('../fonts/AssassinNinja-7BYyR.ttf');
}

* { /* so the whole page does not have padding and margin */
    margin: 0;
    padding: 0;
    background-color: #252523;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

 main{
    flex: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
}

 main .display{
     /*for display the buttons*/
     flex: 1.2;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
 }

main .display .testingHeaders{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px dotted grey;
    border-bottom: 2px dotted grey;
}
main .display .testingHeaders h1{
    text-align: center;
    flex: 1;
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px black;
    color: #f50b0e;
    font-size: 4vh;
}

main .display .elements{
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 main .display .elements .buttons-heuristics-testing{
     height: 9vh;
     width: 15%;
     background-color: #343131;
     text-align: center;
     color: #f50b0e;
     font-weight: bold;
     font-size: 3vh;
     border: 2px solid red;
 }
footer .buttons-heuristics-indicate{
    text-align: center;
    color: #f50b0e;
    font-weight: bold;
    font-size: 2.5vh;
}

footer .buttons-unit-testing-indicate{
    text-align: center;
    color: lightseagreen;
    font-weight: bold;
    font-size: 2.5vh;
}


main .display .unitTestContainer{
    width: 100%;
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1vh;
}

main .display .unitTestContainer .buttons-unit-testing{
    height: 9vh;
    width: 15%;
    background-color: #343131;
    text-align: center;
    color: lightseagreen;
    font-weight: bold;
    font-size: 3vh;
    border: 2px solid lightseagreen;
}

 main .heuristics{
     flex: 2;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     border-bottom: 2px dotted grey;
 }

main .heuristics .unitTest{
    display: flex;
    flex: 1;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main .heuristics .unitTest .unitTestTitle{
    color: grey;
    font-weight: bold;
    font-size: 4vh;
}

main .heuristics #unitTestLeader .testRow{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}

main .heuristics #unitTestLeader .testRow p{
    flex: 1;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    color: #f50b0e;
}

 main .testContainerInitial{
     flex: 1;
     font-size: 3vh;
     color: #f50b0e;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 100%;
     border-right: 2px dotted grey;
 }

main .testContainerInitial .leaderboardTable{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .testContainerInitial .leaderboardTable tbody{
    width: 70%;
    text-align: center;
}

main .testContainerInitial .leaderboardTable tbody tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


main .testContainerInitial .leaderboardTitle{
    width: 100%;
    text-align: center;
    color: red;
}

main .testContainerInitial .beforeTitle {
    display: none;
}

main .testContainerInitial  table th{
    color: lightseagreen;
}

main .testContainerFeedback{
    flex: 1.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-right: 2px dotted grey;
}
main .testContainerFeedback h1{
    display: none;
}
main .testContainerFeedback a {
    border: 2px dotted grey;
    color: inherit;
    text-decoration: none;
}

main .testContainerFeedback a p{
    font-size: 4vh;
}


main .testContainerFeedback p{
    font-size: 2.7vh;
    color: white;
}

main .testContainerFeedback #readMore{
    color: lightseagreen;
}

main .testContainerChanges{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .testContainerChanges img{
    display: block;
    width: 60%;
    height: 50%;
}

.submitButtons{
    display: block;
    border: 2px solid red;
    color: #AD090D;
}
 .int{
     background-color: white;
     border: 2px solid red;
 }

 .bool1{
     background-color: #343131;
     text-align: center;
 }

.bool2{
    background-color: #343131;
    text-align: center;
}
.txt{
    background-color: white;
    border: 2px solid red;
}
 .multi{
     display: block;
 }
 .numeric{
     background-color: white;
     border: 2px solid red;
 }

footer{
    background-color: #252523;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


footer .footer-inner-bg{
    background-color: #252523;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .home{
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px black;
    color: #AD090D;
    font-size: 4vh;
}
footer .home a{
    text-decoration: none;
    color: #f50b0e;
}

footer .home a:hover{
    color: white;
}

footer .shuriken-f1{
    text-align: center;
    width: 6vh;
    height: 6vh;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


footer .shuriken-f2{
    text-align: center;
    width: 6vh;
    height: 6vh;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media only screen and (max-width: 1024px) {


    main .heuristics {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main .display .testingHeaders{
        display: none;
    }


    main .display .elements .buttons-heuristics-testing{
        width: 18%;
        font-size: 2vh;
    }

    main .display .unitTestContainer .buttons-unit-testing {
        width: 25%;
        font-size: 2vh;
    }

    main .heuristics .unitTest{
        flex: 2;
        border-top: 2px dotted grey;
        border-bottom: 2px dotted grey;
    }

    main .testContainerInitial{
        flex: 1.5;
        width: 100%;
        font-size: 2.5vh;
        padding: 1vh;
        border-right: none;
        border-top: 2px dotted grey;
        border-bottom: 2px dotted grey;
    }

    main .testContainerInitial .beforeTitle {
        display: block;
        font-weight: bold;
        color: grey;
    }

    main .testContainerInitial h1{
        font-size: 4vh;
    }

    main .testContainerFeedback{
        flex: 2;
        border: none;
        justify-content: space-evenly;
        padding-right: 1vh;
        padding-left: 1vh;
    }
    main .testContainerFeedback p{
        font-size: 2.5vh;
    }

    main .testContainerFeedback h1{
        display: block;
        font-size: 3.5vh;
        color: grey;
        font-weight: bold;
    }

    main .heuristics .testContainerChanges{
        flex: 0;
        display: none;
    }


    main .heuristics .testContainerChanges img{
        width: 0;
        height: 0;
        display: none;
    }

    main .heuristics .testContainerFeedback #heuristics1{
        display: none;
    }

    footer{
        flex: 0.5;
    }
    footer .buttons-heuristics-indicate{
        width: 30%;
        text-align: center;
        color: #f50b0e;
        font-weight: bold;
        font-size: 1.8vh;
    }

    footer .buttons-unit-testing-indicate{
        text-align: center;
        color: lightseagreen;
        font-weight: bold;
        font-size: 1.8vh;
        width: 30%;
    }

}


