/* online fonts */

@font-face { /* custom downloaded font */
    font-family: 'AssassinNinja';
    src: url('../fonts/AssassinNinja-7BYyR.ttf');
}

* { /* so the whole page does not have padding and margin */
    margin: 0;
    padding: 0;
    background-color: #252523;
}
/* whole page */

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* height of the whole device */
    width: 100vw;
    background-color: #181717;
    /*border: 2px solid red;*/
}

.form-section{
    background-color: #252523;
    flex: 1;
    order: 1;
    display: flex;
    justify-content: stretch; /* row */
    align-items: center;
}

.form-section .ninja-logo-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    order: 1;

}

.form-section #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    order: 2;
    height: 100%;
}


.form-section .ninja-logo-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    order: 3;
    text-align: center;
    transform: rotateY(180deg);
}

.form-section img{
    width: 25vh;
    height: 25vh;
}

.form-section #form{
    height: 100%; /* take as much as form-section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.form-section #form .name-input{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-section #form .label-text h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 5px;
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px black;
    color: #AD090D;
}

.form-section #form input[type=text]{
    height: 6vh;
    width: 30vw;
    border-radius: 20px;
    font-size: 3vh;
    color: white;
    text-align: center;
    border: 2px solid grey;
}

.form-section #form input[type=text]:focus{
    height: 6vh;
    width: 30vw;
    border-radius: 20px;
    border: 2px dotted red;
    outline: none;
    font-size: 3vh;
    color: white;
    text-align: center;
}



.form-section #form  #error-message{
    color: #AD090D;
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    align-items: start;
    padding-top: 10px;
    text-align: center;
}


/* Treasure Hunts */

.treasure-hunts-section {
    flex: 1;
    order: 2;
    background-color: #252523;
    display: flex;
    width: 100%;
}

.treasure-hunts-section #generated-api-hunts{
    display: flex;
    flex: 1;
}
.treasure-hunts-section #generated-api-hunts div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.treasure-hunts-section #generated-api-hunts div h1{
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px black;
    color: #AD090D;
    font-size: 4vh;
    padding: 10px;
}

.treasure-hunts-section #generated-api-hunts div h1:hover{
    color: white;
}

.treasure {
    border: none;
}


/* phones - tables */
@media only screen and (max-width: 1024px) {



    .form-section{
        flex-direction: column;
        justify-content: center; /* row */
        align-items: center;
    }

    .form-section .ninja-logo-1{
        width: 100%;
    }

    .form-section .ninja-logo-1 img{
        width: 18vh;
        height: 18vh;
        padding-top: 15px;
    }

    .form-section #form {
        width: 100%;
    }

    .form-section .ninja-logo-2{
        display: none;
    }

    .form-section #form .name-input{

        justify-content: space-between;

    }

    .form-section #form .label-text{
        flex: 1;
    }


    .form-section #form .label-text h1{
        font-size: 35px;
        padding-bottom: 5px;
        padding-top: 30px;
        text-shadow: 3px 2px 3px black;
        color: #AD090D;
    }


    .form-section #form input[type=text]{
        width: 55vw;
        font-size: 2vh;
        color: white;
    }

    .form-section #form input[type=text]:focus{
        width: 55vw;
        font-size: 2vh;
    }


    .form-section #form #error-message{
        flex: 1;
        padding-top: 12px;
    }

/* treasure hunts */

    .treasure-hunts-section {

    }

    .treasure-hunts-section #generated-api-hunts{
        flex-direction: column;
        padding: 10px;
    }

    .treasure-hunts-section #generated-api-hunts div{
        flex: 1;
        padding-bottom: 5px;
    }

    .treasure-hunts-section #generated-api-hunts div h1{
        font-size: 3vh;
        /*padding: 10px;*/
    }

    .treasure-hunts-section #generated-api-hunts div h1:hover{

    }

}





























