@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
/* so the whole page does not have padding and margin */
* {
    margin: 0;
    padding: 0;
}



/* gives the div 50% of the screen and brings it to the right  */
.rightSide {
    height: 100vh;
    float: right;
    background-color: #4a0303;
    width: 50%;
    text-align: center;
}
 .ninjaLogo{
     margin-top: 140px;
     height: 350px;
     width: 350px;
}
 hr{
     border: 3px solid black;
 }

/* gives the div 50% of the screen and brings it to the left  */
.leftSide {
    float:left;
    width: 50%;
    height: 100vh;
    font-size: 35px;
    background-color: #28313B;
}


/* Ninja Team text */
.ninjaTeamText{
    text-align: center;
    color: red;
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0 20px 0;
    font-family: 'Langar', cursive;
}

/* this is the actual div that hold the avatars */
 .faceLogo{
     margin-top: 50px;
     display: grid;
     justify-content: space-evenly;
     grid-auto-flow: column;
}
/* works for all avatars */

.card {
    box-shadow: 5px 8px 12px 0 rgba(0, 0, 0, 0.5);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 5px solid grey;
    border-radius: 25px 25px 25px 25px;
}
.card .cardName{
    font-family: 'Langar', cursive;
    color: white;
}
.card .avatarImg{
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;

}

.title {
    color: grey;
    font-size: 21px;
    font-style: italic;
    margin: 7px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0 0 25px 25px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* Right Screen */
.treasureHuntText{
    font-size: 60px;
    color: whitesmoke;
    margin-top: 30px;
    font-family: 'Langar', cursive;
}

.ninjaButton {
    width: 35%;
    height: 70px;
    border-radius: 25px;
    margin-top: 50px;
}


@media only screen and (max-width: 600px) {
    .leftSide {
        display: none;
    }

   .rightSide{
        width: 100%;
    }
}





