/* online fonts */

@font-face { /* custom downloaded font */
    font-family: 'AssassinNinja';
    src: url('fonts/AssassinNinja-7BYyR.ttf');
}

* { /* so the whole page does not have padding and margin */
    margin: 0;
    padding: 0;
    background-color: #252523;

}
/* whole page */

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* height of the whole device */
    background-color: #181717;

}

/* header section */

header{
    background-color: #252523;
    flex: 5;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    margin: 10px 10px 0 10px;
}

header .shuriken{ /* for left and right shuriken container of the header */
    flex: 1;
    text-align: center;
}

header .shuriken img{ /* shuriken container img */
    width: 8vh;
    height: 8vh;
}

header .header-inner-bg{ /* center container that will display ninjaLogo and text */
    background-color: #252523;
    width: 60%;
    height: 100%;
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
}

header .header-inner-bg .header-img{ /* ninja logo container */
    flex: 2;
    order: 1;
    height: 90%;
}

header .header-inner-bg .header-img img{ /* ninja logo container img */
    display: block;
    height: 100%;
    width: 35%;
    margin: 0 35%;
}


header .header-inner-bg .header-text{ /* title of the header */
    height: 180px;
    flex: 2;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px red;
}

header .header-inner-bg .header-text h1{
    font-size: 7vh;
}

header .header-inner-bg .header-text h2{
    font-size: 5vh;
}

/* main section */

main{
    background-color: #181717;
    flex: 9;
    order: 2;
    display: flex;
}

main section{ /* applies to all sections in main */
    flex: 1;
    background-color: #343131;
}

/* individual sections by class */



main .m-section-1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

main .m-section-1 .phone-wrapper{ /* made to manipulate design when at phone devices */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main .m-section-1 .memberDescriptionPhone{ /* made to manipulate design when at phone devices */
    display: none;
}

main .m-section-1 .memberCard{ /* 1 and 3 card */
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main .m-section-1 .memberCardRight{ /* middle card with right shifted design */
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
}

main .m-section-1 img{ /* for all images in the section 2 */
    width: 20%;
    border-radius: 5px;
    border: 3px solid #181717;
    box-shadow: 3px 3px 10px #181717;
    margin: 0 10px;
}

main .m-section-1 .memberSectionTitle{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 2vh;
}

main .m-section-1 .memberCard .memberCardDescription{
    font-family: sans-serif;
    color: white;
    font-size: 2vh;
    padding-right: 10px;
}
main .m-section-1 .memberCardRight .memberCardDescriptionRight{
    font-family: sans-serif;
    color: white;
    font-size: 2vh;
    padding-left: 10px;
}

main .m-section-2{
    margin: 0 10px;
    display: flex;
    /*border: 2px solid red;*/
    flex: 1.3;
}



main .m-section-2 iframe{
    flex: 1;
    width: 100% !important;
    /*padding-bottom: 2px;*/
    margin: 0 -9px 0 -9px;

}

main .m-section-3{
    margin-right: 10px;
    border-left: 2px solid red;
    border-right: 2px solid red;}

main .m-section-3 .phone-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

main .m-section-3 .phone-wrapper .socialMediaTitle{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px black;
    font-size: 2vh;
}

main .m-section-3 .phone-wrapper .socialMediaDescription{
    flex: 2;
    text-align: center;
    font-size: 2.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /*border-top: 2px solid red;*/
}

main .m-section-3 .phone-wrapper .facebook-instagram-twitter{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.6vh;
}

main  .m-section-3 .phone-wrapper .facebook-instagram-twitter img{
    display: none;
}

main .m-section-3 .phone-wrapper .facebook-instagram-twitter .facebook-text{
    color: 	#3b5998;
}

main .m-section-3 .phone-wrapper .facebook-instagram-twitter .instagram-text{
    color: #C13584;
}

main .m-section-3 .phone-wrapper .socialMediaDescription p {
    padding: 0 10px;
}

main .m-section-3 .phone-wrapper .twitter{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

/* footer section */

footer{
    background-color: #252523;
    flex: 1.4;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    margin: 0 10px 10px 10px;
    padding-top: 30px;

}



footer .footer-inner-bg{
    background-color: #252523;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "AssassinNinja" , sans-serif;
    text-shadow: 3px 2px 3px red;
    font-size: 2.3vh;
    border-left: 2px solid red;
    border-right: 2px solid red;
    margin-bottom: 25px;
}

footer .footer-inner-bg:hover{
    color: white;
}

footer .shuriken-f1{
    text-align: center;
    margin-right: 60px;
    width: 8vh;
    height: 8vh;

}

footer .shuriken-f2{
    text-align: center;
    margin-left: 60px;
    width: 8vh;
    height: 8vh;
}


/* phones */
@media only screen and (max-width: 600px) {

    /* header section */

    header{
        flex: 3;

    }

    header .header-inner-bg{
        flex-direction: column;
        flex: 7;

    }

    header .header-inner-bg .header-img{
        height: 60%;
        width: 70%;
        padding-top: 10px;
        padding-right: 10px;
    }

    header .shuriken img{
        display: none;

    }

    header .header-inner-bg .header-text{
        align-items: center;
        padding-bottom: 10px;
    }

    header .header-inner-bg .header-text h1{
        font-size: 4vh;
    }

    header .header-inner-bg .header-text h2{
        font-size: 3vh;
    }

    /* main section */

    main{
        flex-direction: column;
        flex: 9;
        margin: 0 10px 0 10px;

    }

    main section{
        margin: 10px 0;
    }

    main .m-section-1{
        flex: 3;
        margin: 0;
        padding-top: 2px;
    }

    main .m-section-1{
        flex: 4;
        flex-direction: column;
        /*margin: 10px 0;*/
        display: flex;

    }

    main .m-section-1 .phone-wrapper{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1.5;
    }

    main .m-section-1 .memberDescriptionPhone{
        flex: 2;
        text-align: center;
        justify-content: space-evenly;
        padding: 5px;
        font-size: 2.1vh;
        height: 180px;
        display: flex;
        flex-direction: column;
        font-family: "AssassinNinja" , sans-serif;
        text-shadow: 3px 2px 3px red;
    }

    main .m-section-1 .memberDescriptionPhone p{
        color: white;
        text-shadow: none;
    }

    main .m-section-1 img{
        width: 50%;
        border-radius: 5px;
        border: 3px solid #181717;
        box-shadow: 3px 3px 10px #181717;
    }

    main .m-section-1 .memberCard{
        display: flex;
        align-items: start;
        justify-content: center;
    }
    main .m-section-1 .memberCardRight{
        display: flex;
        align-items: start;
        justify-content: center;
    }

    main .m-section-1 .memberSectionTitle{
        display: none;
    }

    main .m-section-1 .memberCard .memberCardDescription{
        display: none;
    }
    main .m-section-1 .memberCardRight .memberCardDescriptionRight{
        display: none;
    }


    main .m-section-2{
        margin: 0;
        display: flex;
        flex: 3;
        padding: 11px;
        border: 2px solid red;
        background-color: #252523;

    }



    main .m-section-3{
        flex: 1.1;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #252523;
    }

    main .m-section-3 .phone-wrapper .socialMediaDescription{
        display: none;
    }

    main .m-section-3 .phone-wrapper .twitter{
        display: none;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter img{
        display: block;
        width: 10%;
        height: 60%;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter h1,a{
        display: none;
    }

    /* footer section */

    footer{
        flex: 1;
    }

    footer .footer-inner-bg{
        font-size: 2vh;
        text-align: center;

    }

    footer .shuriken-f1{
        display: none;
    }

    footer .shuriken-f2{
        display: none;
    }



}

/* tablets */
@media only screen and (max-width: 1024px) and (min-width: 600px){

    /* header section */

    header{
        flex: 3;
        margin: 10px 10px -10px 10px;

    }

    header .header-inner-bg{
        flex: 7;
    }

    header .shuriken img{
        display: none;
    }

    header .header-inner-bg .header-text h1{
        font-size: 5vh;
    }

    header .header-inner-bg .header-text h2{
        font-size: 4vh;
    }

    /* main section */

    main{
        flex-direction: column;
        flex: 9;
        margin: -1px 10px -10px 10px;
    }

    main section{
        margin: 10px 0;
    }

    /* main inner container manipulation */

    main .m-section-1{
        flex: 3;
        margin: 0;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
    }

    main .m-section-1{
        flex: 4;
        flex-direction: column;
        margin: 0 0 -10px 0;
        display: flex;
    }

    main .m-section-1 .phone-wrapper{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1.5;
    }

    main .m-section-1 .memberDescriptionPhone{
        flex: 2;
        text-align: center;
        justify-content: space-evenly;
        padding: 5px;
        font-size: 2.1vh;
        height: 180px;
        display: flex;
        flex-direction: column;
        font-family: "AssassinNinja" , sans-serif;
        text-shadow: 3px 2px 3px red;
        margin-top: 10px;
    }

    main .m-section-1 .memberDescriptionPhone p{
        color: white;
        text-shadow: none;
        padding: 20px 40px;
    }

    main .m-section-1 img{
        width: 40%;
        border-radius: 5px;
        border: 3px solid #181717;
        box-shadow: 3px 3px 10px #181717;
    }

    main .m-section-1 .memberCard{
        display: flex;
        align-items: start;
        justify-content: center;
    }
    main .m-section-1 .memberCardRight{
        display: flex;
        align-items: start;
        justify-content: center;
    }

    main .m-section-1 .memberSectionTitle{
        display: none;
    }

    .memberCardDescription{
        display: none;
    }
    .memberCardDescriptionRight{
        display: none;
    }

    main .m-section-2{
        margin: 0;
        display: flex;
        flex: 3.5;
        padding: 11px;
        border: 2px solid red;
        background-color: #252523;
    }

    main .m-section-3{
        margin: 0;
        border-bottom: 2px solid red;
    }
    main .m-section-3 .phone-wrapper .socialMediaDescription{
        display: none;
    }

    main .m-section-3 .phone-wrapper .twitter{
        display: none;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter img{
        display: block;
        width: 8%;
        height: 60%;
    }

    main  .m-section-3 .phone-wrapper .facebook-instagram-twitter h1,a{
        display: none;
    }

    /* footer section */

    footer{
        flex: 1;
    }

    footer .footer-inner-bg{
        font-size: 2.5vh;
    }

    footer .shuriken-f1{
        display: none;
    }

    footer .shuriken-f2{
        display: none;
    }

    /* main inner content container manipulation */
}






