/* so the whole page does not have padding and margin */
* {
    margin: 0;
    padding: 0;
}

.wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* gives the div 50% of the screen and brings it to the right  */
.rightSide {
    height: 440px;
    float: right;
    background-color: #4a0303;
    width: 50%;
    text-align: center;
}
 .ninjaLogo{
    margin-top: 40px;
     height: 200px;
     width: 200px;
}
 hr{
     border-color: red;
 }

/* gives the div 50% of the screen and brings it to the left  */
.leftSide {
    float:left;
    width: 50%;
    height: 440px;
    font-size: 35px;
    background-color: #204a65;
}
/* Ninja Team text */
.ninjaTeamText{
    text-align: center;
    color: red;
}

/* this is the actual div that hold the avatars */
 .faceLogo .avatar{
    display: inline-block;
}

/* works for all avatars */
.avatar {
    width: 100px;
    margin-top: 6px;
    height: 100px;
    border-radius: 30%;
    border: 4px solid black;
}
@media only screen and (max-width: 600px) {
    .leftSide {
        display: none;
    }
   body {
       height: 100%;
   }

   .rightSide{
       max-height:100% ;
        width: 100%;
    }
}





